USE [master]
GO

/****** Object:  Database [ContinentContext]    Script Date: 11/12/2021 08:40:53 ******/
IF DB_ID('ContinentContext') IS NOT NULL
BEGIN
	ALTER DATABASE [ContinentContext] SET SINGLE_USER WITH ROLLBACK IMMEDIATE
	DROP DATABASE [ContinentContext]
END
GO
CREATE DATABASE [ContinentContext]
 CONTAINMENT = NONE
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO

IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ContinentContext].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ContinentContext]
GO
/****** Object:  Table [dbo].[CapitalCity]    Script Date: 11/12/2021 08:38:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CapitalCity](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Area] [float] NOT NULL,
	[Latitude] [float] NOT NULL,
	[Longitude] [float] NOT NULL,
	[CountryId] [uniqueidentifier] NOT NULL,
	[CreatedDate] [datetime2](7) NULL,
	[ModifiedDate] [datetime2](7) NULL,
 CONSTRAINT [PK_CapitalCity] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Continent]    Script Date: 11/12/2021 08:38:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Continent](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Area] [float] NOT NULL,
	[Latitude] [float] NOT NULL,
	[Longitude] [float] NOT NULL,
	[CreatedDate] [datetime2](7) NULL,
	[ModifiedDate] [datetime2](7) NULL,
 CONSTRAINT [PK_Continent] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Country]    Script Date: 11/12/2021 08:38:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[IsoCode] [nvarchar](max) NULL,
	[Area] [float] NOT NULL,
	[Latitude] [float] NOT NULL,
	[Longitude] [float] NOT NULL,
	[RegionId] [uniqueidentifier] NOT NULL,
	[CreatedDate] [datetime2](7) NULL,
	[ModifiedDate] [datetime2](7) NULL,
 CONSTRAINT [PK_Country] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Region]    Script Date: 11/12/2021 08:38:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Region](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Area] [float] NOT NULL,
	[Latitude] [float] NOT NULL,
	[Longitude] [float] NOT NULL,
	[ContinentId] [uniqueidentifier] NOT NULL,
	[CreatedDate] [datetime2](7) NULL,
	[ModifiedDate] [datetime2](7) NULL,
 CONSTRAINT [PK_Region] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CapitalCity] ([Id], [Name], [Area], [Latitude], [Longitude], [CountryId], [CreatedDate], [ModifiedDate]) VALUES (N'4c805cd4-2614-4bc5-98d3-052a17e730b2', N'Yaoundé', 0, 0, 0, N'35bba0e8-235d-4e1d-a614-cb23f2884ded', CAST(N'2021-12-11T08:33:03.9933254' AS DateTime2), CAST(N'2021-12-11T08:33:03.9933255' AS DateTime2))
INSERT [dbo].[CapitalCity] ([Id], [Name], [Area], [Latitude], [Longitude], [CountryId], [CreatedDate], [ModifiedDate]) VALUES (N'26efdb38-4b6f-4dfe-b58f-0576167bba05', N'Mbabane', 0, 0, 0, N'f7e7cd2c-a436-4975-9325-acfe4485be12', CAST(N'2021-12-11T08:33:03.9941961' AS DateTime2), CAST(N'2021-12-11T08:33:03.9941961' AS DateTime2))
INSERT [dbo].[CapitalCity] ([Id], [Name], [Area], [Latitude], [Longitude], [CountryId], [CreatedDate], [ModifiedDate]) VALUES (N'94ff578e-a49a-4af6-8a0f-08826ff21c30', N'Maseru', 0, 0, 0, N'634528e2-78bc-4f3c-9e7b-8e53e9694554', CAST(N'2021-12-11T08:33:03.9941949' AS DateTime2), CAST(N'2021-12-11T08:33:03.9941950' AS DateTime2))
GO
INSERT [dbo].[Continent] ([Id], [Name], [Area], [Latitude], [Longitude], [CreatedDate], [ModifiedDate]) VALUES (N'edc63f66-3d33-4b3e-b44d-294cc49b1fcd', N'Asia', 0, 0, 0, CAST(N'2021-12-11T08:33:03.9943869' AS DateTime2), CAST(N'2021-12-11T08:33:03.9943870' AS DateTime2))
INSERT [dbo].[Continent] ([Id], [Name], [Area], [Latitude], [Longitude], [CreatedDate], [ModifiedDate]) VALUES (N'd1072ab9-57c8-48ef-b6a6-34c131a0f21b', N'Europe', 0, 0, 0, CAST(N'2021-12-11T08:33:03.9943144' AS DateTime2), CAST(N'2021-12-11T08:33:03.9943144' AS DateTime2))
INSERT [dbo].[Continent] ([Id], [Name], [Area], [Latitude], [Longitude], [CreatedDate], [ModifiedDate]) VALUES (N'6c416bd3-b34a-4fb8-adc5-b280f4d1af91', N'Africa', 30370000, -8.783195, 34.508522, CAST(N'2021-12-11T08:33:03.9881080' AS DateTime2), CAST(N'2021-12-11T08:33:03.9881092' AS DateTime2))
GO
INSERT [dbo].[Country] ([Id], [Name], [IsoCode], [Area], [Latitude], [Longitude], [RegionId], [CreatedDate], [ModifiedDate]) VALUES (N'fb4dabb9-47b8-406b-8cdc-000a8846a2c7', N'Moldova', NULL, 0, 0, 0, N'6c69ca34-4e70-492b-b56d-bce7607ae95f', CAST(N'2021-12-11T08:33:03.9943280' AS DateTime2), CAST(N'2021-12-11T08:33:03.9943281' AS DateTime2))
INSERT [dbo].[Country] ([Id], [Name], [IsoCode], [Area], [Latitude], [Longitude], [RegionId], [CreatedDate], [ModifiedDate]) VALUES (N'6ce19023-5b72-40e2-bda6-0017ba6e6c0f', N'Belgium', NULL, 0, 0, 0, N'bb6469b9-ca5d-4f09-bcce-c2dc9ff6d296', CAST(N'2021-12-11T08:33:03.9943424' AS DateTime2), CAST(N'2021-12-11T08:33:03.9943425' AS DateTime2))
INSERT [dbo].[Country] ([Id], [Name], [IsoCode], [Area], [Latitude], [Longitude], [RegionId], [CreatedDate], [ModifiedDate]) VALUES (N'bf828096-f3c2-4be6-bbf3-00a5d6043b68', N'Chad', NULL, 0, 0, 0, N'7a7e327a-def6-4bcb-bba3-12de16d536a5', CAST(N'2021-12-11T08:33:03.9933384' AS DateTime2), CAST(N'2021-12-11T08:33:03.9933385' AS DateTime2))
GO
INSERT [dbo].[Region] ([Id], [Name], [Area], [Latitude], [Longitude], [ContinentId], [CreatedDate], [ModifiedDate]) VALUES (N'8ca792f5-2e38-4449-ab61-0707c4480ae5', N'Southern Europe', 0, 0, 0, N'd1072ab9-57c8-48ef-b6a6-34c131a0f21b', CAST(N'2021-12-11T08:33:03.9943434' AS DateTime2), CAST(N'2021-12-11T08:33:03.9943435' AS DateTime2))
INSERT [dbo].[Region] ([Id], [Name], [Area], [Latitude], [Longitude], [ContinentId], [CreatedDate], [ModifiedDate]) VALUES (N'7a7e327a-def6-4bcb-bba3-12de16d536a5', N'Central Africa', 0, 0, 0, N'6c416bd3-b34a-4fb8-adc5-b280f4d1af91', CAST(N'2021-12-11T08:33:03.9933075' AS DateTime2), CAST(N'2021-12-11T08:33:03.9933092' AS DateTime2))
INSERT [dbo].[Region] ([Id], [Name], [Area], [Latitude], [Longitude], [ContinentId], [CreatedDate], [ModifiedDate]) VALUES (N'ad92a228-a741-4c95-a381-1867833d8033', N'Western Asia', 0, 0, 0, N'edc63f66-3d33-4b3e-b44d-294cc49b1fcd', CAST(N'2021-12-11T08:33:03.9944273' AS DateTime2), CAST(N'2021-12-11T08:33:03.9944274' AS DateTime2))
GO
ALTER TABLE [dbo].[CapitalCity]  WITH CHECK ADD  CONSTRAINT [FK_CapitalCity_Country_CountryId] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Country] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CapitalCity] CHECK CONSTRAINT [FK_CapitalCity_Country_CountryId]
GO
ALTER TABLE [dbo].[Country]  WITH CHECK ADD  CONSTRAINT [FK_Country_Region_RegionId] FOREIGN KEY([RegionId])
REFERENCES [dbo].[Region] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Country] CHECK CONSTRAINT [FK_Country_Region_RegionId]
GO
ALTER TABLE [dbo].[Region]  WITH CHECK ADD  CONSTRAINT [FK_Region_Continent_ContinentId] FOREIGN KEY([ContinentId])
REFERENCES [dbo].[Continent] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Region] CHECK CONSTRAINT [FK_Region_Continent_ContinentId]
GO
